/* Reset browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --general-text-color-light: #212529;
    --page-btn-bg-color-light: #ddd;
    --white: #fff;
    --page-btn-bg-color-active-light: #0d6efd;

    --bg-color-dark: #202634;
    --general-text-color-dark: #fff;
    --card-bg-dark: #303643;
    --text-color-dark: #bbc4c4;
}


body {
    background-repeat: repeat;
    background-image: url("../img/dot.webp");
}


.site-title {
    text-decoration: none;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

header a {
    display: flex;
}

i {
    font-size: calc(1.1rem + .9vw);
    cursor: pointer;
    color: #191970;
}

h1, .fs-2 {
    color: var(--general-text-color-light);
}

h1 {
    font-family: "Rubik Doodle Shadow";
    letter-spacing: 10px;
}

h2 {
    font-size: calc(1.325rem + .9vw) !important;
    font-weight: 400 !important;
    margin-bottom: 1.2rem !important;
}

#loading {
    font-size: 1.2rem;
}

.search-warning {
    color: #dc3545; 
    font-weight: 500;
}

.fetchi-logo  {
    height: 82px;
    margin-left: 15px;
}

.logo {
    width: 60px;
    min-height: 60px;
    object-fit: contain;
}

.card {
    width: 17rem;
    height: 22.4rem;
}

.card-header {
    font-size: .82rem;
}

.card-title, .card-subtitle {
    font-weight: 500;
}

.card-title {
    font-size: 1.15rem;
    line-height: 1.2;
}

.card-subtitle {
    font-size: 1rem;
    line-height: 1.2;
}

.source-url {
    text-decoration: none;
    width: auto;
}

#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zoom {
    transition: .5s;
}

.zoom:hover {
    z-index: 9999;
    transform: scale(1.05);
}

.loading-card {
    opacity: .7;
    animation: card-loading .9s linear infinite alternate;
}

@keyframes card-loading {
    0% {
        background-color: hsl(200, 20%, 90%);
    }

    100% {
        background-color: hsl(200, 20%, 99%);
    }
}

.fade-in-card {
    animation: fadeIn 1.5s;
}

.fade-in-text {
    animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

button {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
}

.btn {
    width: 100%;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0 80px;
}

.page-btn {
    background: #ddd;
    height: 35px;
    border-radius: 2px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: background 0.3s ease;
    margin: 0 2px
}

.page-btn[class*="-page"] {
    background: #ccc;
    font-size: 0.6em;
    font-weight: 700;
}
  
.page-btn.active {
    background: #0d6efd;
    color: var(--white);
}
  
.page-btn[disabled] {
    cursor: not-allowed;
    background: #f7f7f7;
    color: #bebfc2;
}


#search-button {
    display: none;
}

.form-control {
    height: 2.75rem !important;
}

.form-control:focus {
    border-color: #6c757d !important;
    box-shadow: none !important;
}

.form-control[placeholder="Enter location"] {
    border-radius: 0 .25rem .25rem 0 !important;
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem !important;
    }
}

@media (max-width: 991px) {
    #jobs {
        display: flex;
        justify-content: space-around;
    }

    .card {
        width: 25rem;
    }
    
    .card-header {
        font-size: .95rem;
    }

    .card:hover {
        transform: none;
    }

    .form-control[placeholder="Enter location"] {
        border-radius: 0 .25rem .25rem 0 !important;
    }

    #search-button {
        display: none;
    }
}


/* Dark Mode */
html[dark-mode="true"] body {
    background-color: var(--bg-color-dark);
    background-repeat: repeat;
    background-image: url("../img/dot-dark.png");
}

html[dark-mode="true"] h1, html[dark-mode="true"] .fs-2, html[dark-mode="true"] #loading {
    color: var(--general-text-color-dark);
}

html[dark-mode="true"] i {
    color: #FFD700;
}

html[dark-mode="true"] #results {
    color: var(--general-text-color-dark);
}

html[dark-mode="true"] .card-body {
    background-color: var(--card-bg-dark);
    color: var(--text-color-dark) !important;
}

html[dark-mode="true"] .card-title {
    color: var(--general-text-color-dark)
}

html[dark-mode="true"] .card-subtitle, html[dark-mode="true"] .source-url {
    color: var(--text-color-dark) !important;
}

html[dark-mode="true"] .form-control:focus {
    border-color: var(--general-text-color-dark) !important;
    border: 2px solid var(--general-text-color-dark);
    box-shadow: none !important;
}

html[dark-mode="true"] .form-control {
    background-color: var(--bg-color-dark) !important;
    
}

html[dark-mode="true"] input {
    color: var(--general-text-color-dark) !important;
}

html[dark-mode="true"] .fade-in-card {
    animation: none;
}

/* html[dark-mode="true"] .fade-in-text {
    animation: fadeIn linear 1.5s;
} */

/* Chrome, Firefox, Opera, Safari 10.1+ */
html[dark-mode="true"]  #input1::placeholder, html[dark-mode="true"] #input2::placeholder { 
    color: var(--text-color-dark);
}
/* Internet Explorer 10-11 */
html[dark-mode="true"] #input1:-ms-input-placeholder, html[dark-mode="true"] #input2:-ms-input-placeholder { 
    color: var(--text-color-dark);
}
/* Microsoft Edge */
html[dark-mode="true"] #input1::-ms-input-placeholder, html[dark-mode="true"] #input2::-ms-input-placeholder { 
    color: var(--text-color-dark);
}