body {
    background-repeat: repeat;
    background-image: url("../img/dot.webp");
}

.header {
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: #212529;
}

#loading {
    font-size: 1.2rem;
}

.sourceURL {
    text-decoration: none;
    width: auto;
}

#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    transition: .5s;
}
  
.card:hover {
    z-index: 9999;
    transform: scale(1.05);
}

#loading img{
    width: 225px;
}

@media (max-width: 991px) {
    #jobs {
        display: flex;
        justify-content: space-around;
    }

    .card:hover {
        transform: none;
    }

    #search-button {
        display: none;
    }
}