body {
    background-repeat: repeat;
    background-image: url("../img/dot.webp");
}

.header {
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: #212529;
}

#loading {
    font-size: 1.2rem;
}

.sourceURL {
    text-decoration: none;
    width: auto;
}

#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zoom {
    transition: .5s;
}

.zoom:hover {
    z-index: 9999;
    transform: scale(1.05);
}

.loading-card {
    opacity: .7;
    animation: card-loading .9s linear infinite alternate;
}

@keyframes card-loading {
    0% {
        background-color: hsl(200, 20%, 90%);
    }

    100% {
        background-color: hsl(200, 20%, 99%);
    }
}

#loading img{
    width: 225px;
}


.fade-in-card {
    animation: fadeIn 1.5s;
}

.fade-in-text {
    animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 991px) {
    #jobs {
        display: flex;
        justify-content: space-around;
    }

    .card:hover {
        transform: none;
    }

    #search-button {
        display: none;
    }
}